# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
eggs/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.pytest_cache/
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Project specific
logs/
*.log
model_training_outputs
unsloth_compiled_cache
data
grads/
gemma-thinking-4bit/
outputs/
.log