# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
eggs/
*.egg

# Virtual environments
venv/
env/
.env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Unit test / coverage reports
htmlcov/f
.tox/
.coverage
.coverage.*
.pytest_cache/
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Project specific
model_training_outputs
.cache/
data
grads/
gemma-thinking-4bit/
outputs/
hs_training_config.py
runs
saves/
length*.txt
.log/

*.log
test.mmap
*unsloth_compiled_cache*
test.bin
model_store/
lm-evaluation-harness
output
wandb
*.json
assets/all_batches.pkl
mutagen.sh
mutagen.yml
_unsloth_sentencepiece_temp